.vs
.vs/cmake.db
.vs/实现3d拾取
.vs/实现3d拾取/FileContentIndex
.vs/实现3d拾取/v17
x64/Debug/3dSelect.tlog
x64/Debug/3dSelect.Build.CppClean.log
x64/Debug/3dSelect.exe.recipe
x64/Debug/3dSelect.ilk
x64/Debug/3dSelect.pdb
x64/Debug/glad.obj
x64/Debug/loadTexture.obj
x64/Debug/main.obj
x64/Debug/mouse.obj
x64/Debug/picking_texture.obj
x64/Debug/shader_s.obj
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
x64/Debug/实现3d拾取.log
x64/Debug/实现3d拾取.vcxproj.FileListAbsolute.txt
x64/Release/3dSelect.tlog
x64/Release/3dSelect.Build.CppClean.log
x64/Release/3dSelect.exe.recipe
x64/Release/3dSelect.ilk
x64/Release/3dSelect.pdb
x64/Release/glad.obj
x64/Release/loadTexture.obj
x64/Release/main.obj
x64/Release/mouse.obj
x64/Release/picking_texture.obj
x64/Release/shader_s.obj
x64/Release/vc143.idb
x64/Release/vc143.pdb
x64/Release/实现3d拾取.log
x64/Release/实现3d拾取.vcxproj.FileListAbsolute.txt
